# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @ctoestreich @kdouglass424
.github/settings.yml @wexinc/ao-solutions-architecture