apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-backstage
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/gabriel-brotas/backstage-charts.git
    targetRevision: main
    path: charts/backstage
    helm:
      valueFiles:

        # ### Method 2: Fetch the gpg key from kubernetes secret
        # secrets+gpg-import-kubernetes://<namespace>/<secret-name>#<key-name>.asc?<relative/path/to/the/encrypted/secrets.yaml>
        # secrets+age-import-kubernetes://<namespace>/<secret-name>#<key-name>.txt?<relative/path/to/the/encrypted/secrets.yaml>
        # Example Method 2: (Assumptions: namespace=argocd, secret-name=helm-secrets-private-keys, key-name=app, secret.yaml is in the root folder)
        # - secrets+gpg-import-kubernetes://argocd/helm-secrets-private-keys#key.asc?./templates/secrets.yaml
        - secrets+gpg-import:///helm-secrets-private-keys/key.asc?git+https://github.com/gabriel-brotas/backstage-charts@charts/backstage/templates/secrets.yaml?ref=main
  
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd