apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: test777
  namespace: argocd
  labels:
    name: test777
spec:
  project: default

  source:
    repoURL: https://github.com/gabriel-brotas/backstage-charts.git
    targetRevision: HEAD
    path: charts/backstage
    helm:
      valueFiles:
        - secrets+age-import-kubernetes://argocd/helm-secrets-private-keys#key.txt?secrets.yaml
  
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true