name: Trigger

on:
  registry_package:
    types: [published, updated]

jobs:
  trigger:
      runs-on: ubuntu-latest

      steps:
        - name: Trigger helmchart repo
          env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
            ACTION: ${{ github.event.action }}
            PACKAGE_NAME: ${{ github.event.registry_package.name }}
            NAMESPACE: ${{ github.event.registry_package.namespace }}
            ECOSYSTEM: ${{ github.event.registry_package.ecosystem }}
            PACKAGE_TYPE: ${{ github.event.registry_package.package_type }}
            VERSION: ${{ github.event.registry_package.package_version.container_metadata.tag.name }}
          run: |
            echo $ACTION
            echo $PACKAGE_NAME
            echo $NAMESPACE
            echo $ECOSYSTEM
            echo $PACKAGE_TYPE
            echo $VERSION
            
            # event_payload_data() {
            #   cat <<EOF
            # {
            #   "event_type": "global-backstage.new_image", 
            #   "client_payload":{
            #     "ref": "${{ github.ref }}",
            #     "repository": "${{ github.repository }}",
            #     "actor": "${{ github.event.pusher.name }}"
            #   }
            # }
            # EOF
            # }
            # curl -X POST \
            # -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            # https://api.github.com/repos/wexinc/global-backstage-helmcharts/dispatches \
            # --data "$(event_payload_data)"   
