name: Build

on: 
  workflow_dispatch:
  push:
    branches: [main]

env:
  IMAGE_NAME: 'myimage'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: log
        run: |
          echo "<<<-------- Metadata -------->>> "
          cat << OBJECT
          ${{ toJson(github.event) }}
          OBJECT

  trigger:
    # uses: gabriel-brotas/backstage-charts/.github/workflows/update-helm.yml@main
    uses: ${{github.event.repository.full_name}}./github/workflows/update-helm.yml@main
    with:
      username: mona